<div class="folderWrapper">
  <div *ngIf = "elem.children.length>0 && elem.children[0].visible === true; else elseBlock">
    <fa-icon [icon]="faAngleDown" class = "rotate" (click) = "toggle(elem)"></fa-icon>
  </div>
  <ng-template #elseBlock>
    <fa-icon [icon]="faChevronRight" class = "rotate" (click) = "toggle(elem)"></fa-icon>
  </ng-template>
  <span>{{elem.name}}</span>
  <fa-icon [icon]="faFolderOpen" class="createFolderBtn" (click) = "folderBtnClick(elem)"></fa-icon>
  <fa-icon [icon]="faFile" class="createFileBtn" (click) = "fileBtnClick(elem)"></fa-icon> 
  <fa-icon [icon] = "faTrash" class="deleteBtn" (click)="onClickDelete(elem)"></fa-icon>
  <fa-icon [icon] = "faPencil" class="rename" (click)="onRenameClick(elem)"></fa-icon>
</div>